<div class[innerHTML]="testHtml">

</div>
<div [innerHTML]="test">

</div>
<div [innerHTML]="html">

</div>

<div class="form-group">
    <input 
    [value]="userName"
    type="text" class="form-control">

    <input 
    [value]="userEmail"
    type="text" class="form-control mt-4">
    
     <input 
    [value]="userContact"
    type="text" class="form-control mt-4 mb-2">

    <img [src]="imgSrc" alt="" width="100px">
        <img [src]="imgSrc1" alt="" width="100px">
        <img [src]="imgSrc2" alt="" width="100px">
        <img [src]="imgSrc3" alt="" width="100px">
        <img [src]="imgSrc4" alt="" width="100px">




</div>

