<header class="text-center bg-primary p-2 mt-5 text-white">
    <h2>planet Task-2</h2>
</header>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 mb-4 md-0">
            <mat-card>
                  <h2 class="text-center">
                    {{isInEditMode?'Update planet':'Add planet'}}
                </h2>
            <div class="form-group">
                <label for="planetName">planetName</label>
                <input type="text" #planetName class="form-control">
            </div>
            <div class="form-group">
                <label for="distanceFromSunKm">distanceFromSunKm</label>
                <input type="text" #distanceFromSunKm class="form-control">
            </div>
            <div class="form-group">
                <label for="diameterKm">diameterKm</label>
                <input type="text" #diameterKm class="form-control">
            </div>
            <div class="form-group">
                <label for="numberOfMoons">numberOfMoons</label>
                <input type="text" #numberOfMoons class="form-control">
            </div>
            <button *ngIf="!isInEditMode"  mat-raised-button color="primary" (click)="onplanetAdd(planetName,distanceFromSunKm,diameterKm,numberOfMoons)"
                class=" btn-block" id="Addbtn">Add planet</button>
            <button *ngIf="isInEditMode" mat-raised-button color="primary" (click)="onUpdate()" class="btn-block">Update</button>
</mat-card>

        </div>

        <div class="col-md-8">
         <mat-card class="table-responsive">

            <table class="table table-bordered text-center bg-light" *ngIf="plantsArr.length > 0 ;else notabal">
                <thead>
                    <tr>
                        <th>SR.No</th>
                        <th>planetName</th>
                        <th>distanceFromSunKm</th>
                        <th>diameterKm</th>
                        <th>numberOfMoons</th>
                        <th>Edit</th>
                        <th>Remove</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let plant of plantsArr; let i=index; trackBy:trackByFun">
                        <td>{{i+1}}</td>
                        <td>{{plant.planetName}}</td>
                        <td>{{plant.distanceFromSunKm}}</td>
                        <td>{{plant.diameterKm}}</td>
                        <td>{{plant.numberOfMoons}}</td>
                        <td>
                            <button (click)="onEdit(plant)" mat-raised-button color="primary"
                                    class="btn btn-sm">Edit</button>
                        </td>
                        <td>
                            <button (click)="onRemove(plant.pid)"
                            mat-raised-button color="warn"
                                    class="btn btn-sm">Remove</button>
                        </td>
                    </tr>
                </tbody>

            </table>
            <ng-template #notabal>
                <p class="alert alert-info">No Table Data added yet !!!</p>

            </ng-template>
            </mat-card>
        </div>
    </div>
</div>