<header class="text-white text-center bg-primary p-2"><h5>Todo Task-1</h5></header>
<div class="container mt-5">
<div class="row">
    <div class="col-md-4 mb-4 mb-md-0">
        <div class="form-group">
            <input #todoControl type="text" class="form-control">
        </div>

        <button *ngIf="!isInEditMode" (click)="onTodoAdd(todoControl)" class="btn btn-sm btn-block bg-primary text-white">Add
            Todo</button>

        <button *ngIf="isInEditMode" (click)="onUpdate()" class="btn btn-sm btn-block bg-primary text-white">update</button>

    

    </div>
    <div class="col-md-8">
        <ul class="list-group" *ngIf="todosArr.length > 0 ;else notodos">
            <li *ngFor="let todo of todosArr; trackBy:trackByFun"
                class="list-group-item d-flex justify-content-between">
                <strong>
                    {{todo.todoItem}}
                </strong>
                <div>
                    <button (click)="onEdit(todo)" class="mr-2 btn btn-sm bg-primary text-white">Edit</button>
                    <button (click)="onRemove(todo.todoId)" class="btn btn-sm bg-danger text-white">Remove</button>

                </div>
            </li>
        </ul>
        <ng-template #notodos>
            <p class="alert alert-info">No Todos Items added yet !!!</p>
        </ng-template>
    </div>
</div>
</div>