<h3 class="text-center">string interpolation</h3>

<p class="bg-info text-white text-center">
    this is Product {{PRODUCT_NAME}} and its id is {{PRODUCT_ID}}.
</p>

<p class="bg-info text-white text-center">
    The student name is {{STUDENT_NAME}} and his role number is {{ROLL_NO}}.
</p>

<p class="bg-info text-white text-center">
MY teacher is name is {{TEACHER_NAME}} and is fabulas in his subject that is {{SUBJECT_NAME}}.
</p>

<p class="bg-info text-white text-center">
    priya's favourite sweet dish is {{DISH_NAME}} and she also cook that dish very well.
</p>

<p class="bg-info text-white text-center">
    last year {{STUDENT}} is got a good marks in all subject and he is {{RANK}} of his class.
</p>


